@* @model IEnumerable<MVCStudentReportGenaration.Models.StudentViewModel> *@
    @model StudentViewModel

@{
    ViewData["Title"] = "Index";
}


<h1>Students</h1>

 
<form asp-controller="StudentsFilter" asp-action="Index" method="get">
    <div class="form-group">
        <div class="row"> <label >search</label></div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <!-- Filter Fields -->
           
            <div class="col">
                @*<label for="filterFN">First Name:</label>*@
                <input type="text" id="filterFN" name="filterFN" value="@Model.FilterFN" class="form-control" placeholder="First name" />
            </div>
            <div class="col">
                @* <label for="filterLN">Last Name:</label> *@
                <input type="text" id="filterLN" name="filterLN" value="@Model.FilterLN" class="form-control" placeholder="Last name" />
            </div>
            <div class="col">
                @* <label for="filterPlace">Place:</label> *@
                <select id="filterPlace" name="filterPlace" class="form-control">
                    <option value="">Choose city...</option>
                    @if (Model.Places != null)
                    {
                        foreach (var place in Model.Places)
                        {
                            var isSelected = Model.FilterPlace == place ? "selected" : "";
                            <option value="@place" isSelected>@place</option>
                        }

                    }
                </select>
            </div>
            <div class="col">
               @*  <label for="filterE">Ethnicity:</label> *@
                <select id="filterE" name="filterE" class="form-control">
                    <option value="">Choose Ethnicity...</option>
                    @if (Model.Ethnicities != null)
                    {  
                        foreach (var e in Model.Ethnicities)
                        {
                            var isSelected = Model.FilterE == e ? "selected" : "";
                            <option value="@e" isSelected>@e</option>
                        }
                    }
                </select>
            </div>            
        </div>
        <div class="row p-2 d-flex float-md-end">
            <div class="col">
                <button type="submit" class="btn btn-primary" >Filter</button>
            </div>
            <div class="col">

                <a class="btn btn-primary" asp-area="" asp-controller="StudentsFilter" asp-action="Index">Reset</a>
                
                 </div>
        </div>
    </div>
</form>


<table class="table" data-filter-control="true" filterControlVisible="true">
    <thead>

        <tr>
            <th>@Html.DisplayNameFor(model => model.Students[0].FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.Students[0].LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Students[0].DateOfBirth)</th>
            <th>@Html.DisplayNameFor(model => model.Students[0].Place)</th>
            <th>@Html.DisplayNameFor(model => model.Students[0].Ethnicity)</th>
            <th>@Html.DisplayNameFor(model => model.Students[0].IsDomestic)</th>
            <th>@Html.DisplayNameFor(model => model.Students[0].Course)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                <td>@Html.DisplayFor(modelItem => item.Place)</td>
                <td>@Html.DisplayFor(modelItem => item.Ethnicity)</td>
                <td>@Html.DisplayFor(modelItem => item.IsDomestic)</td>
            @*     <td>@Html.DisplayFor(modelItem => item.CourseName)</td> *@
                <td>@item.Course?.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>
